// @font-face {
// 	font-family: "ITCFRANKGOFORAMERIPRISE-MD";
// 	src: url("fonts/EOT/ITCFRANKGOFORAMERIPRISE-MD.EOT") format("eot"), url("fonts/SVG/ITCFRANKGOFORAMERIPRISE-MD.SVG") format("svg"), url("fonts/WOFF/ITCFRANKGOFORAMERIPRISE-MD.WOFF") format("woff");
// 	font-weight: normal;
// }

// @font-face {
// 	font-family: "ITCFRANKGOFORAMERIPRISE-BK";
// 	src: url("fonts/EOT/ITCFRANKGOFORAMERIPRISE-BK.EOT") format("eot"), url("fonts/SVG/ITCFRANKGOFORAMERIPRISE-BK.SVG") format("svg"), url("fonts/WOFF/ITCFRANKGOFORAMERIPRISE-BK.WOFF") format("woff");
// 	font-weight: normal;
// }

// @font-face {
// 	font-family: "ITCFRANKGOFORAMERIPRISE-MDCN";
// 	src: url("fonts/EOT/ITCFRANKGOFORAMERIPRISE-MDCN.EOT") format("eot"), url("fonts/SVG/ITCFRANKGOFORAMERIPRISE-MDCN.SVG") format("svg"), url("fonts/WOFF/ITCFRANKGOFORAMERIPRISE-MDCN.WOFF") format("woff");
// 	font-weight: normal;
// }

@font-face {
	font-family: "ITCFRANKGOFORAMERIPRISE-LT";
	src: url("fonts/EOT/ITCFRANKGOFORAMERIPRISE-LT.EOT") format("eot"), url("fonts/SVG/ITCFRANKGOFORAMERIPRISE-LT.SVG") format("svg"), url("fonts/WOFF/ITCFRANKGOFORAMERIPRISE-LT.WOFF") format("woff");
	font-weight: normal;
}

@font-face {
	font-family: "ITCFRANKGOFORAMERIPRISE-BOOK";
	src: url("fonts/EOT/ITCFRANKGOFORAMERIPRISE-LT.EOT") format("eot"), url("fonts/SVG/ITCFRANKGOFORAMERIPRISE-LT.SVG") format("svg"), url("fonts/WOFF/ITCFRANKGOFORAMERIPRISE-LT.WOFF") format("woff");
	font-weight: normal;
}