@import "bourbon";
@import "mixins";

/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* **************** IMPORTS **************** */
@import "fonts/fonts";
/* **************** imports **************** */

/* **************** VARIABLES **************** */
// For more look in:
// modules\apps\foundation\frontend-theme\frontend-theme-unstyled\src\main\resources\META-INF\resources\_unstyled\css\aui\lexicon\bootstrap\_variables.scss

// Media queries breakpoints. Define the breakpoints at which your layout will change, adapting to different screen sizes.
$screen-xs-min: 320px; // Extra small screen / phone
$screen-sm-min: 768px; // Small screen / tablet
$screen-md-min: $screen-sm-min; // Medium screen / desktop
$screen-lg-min: 1200px; // Large screen / wide desktop

$ameriprise-screen-xs-min: $screen-xs-min;
$ameriprise-screen-sm-min: $screen-sm-min;
$ameriprise-screen-lg-min: $screen-lg-min;

$ameriprise-screen-xs-max: ($ameriprise-screen-sm-min - 1);
$ameriprise-screen-sm-max: ($ameriprise-screen-lg-min - 1);

// Grid system. Define your custom responsive grid.
// $grid-columns: 12; // Number of columns in the grid.
// $grid-gutter-width: 30px; // Padding between columns. Gets divided in half for the left and right.
// $grid-float-breakpoint: $screen-sm-min; // Point at which the navbar becomes uncollapsed

// Container sizes. Define the maximum width of `.container` for different screen sizes.
$container-tablet: (720px + $grid-gutter-width); // Small screen / tablet
$container-desktop: (940px + $grid-gutter-width); // Medium screen / desktop
$container-large-desktop: (1140px + $grid-gutter-width); // Large screen / wide desktop

$ameriprise-blue: #003D6D;
$ameriprise-font-family: "ITCFRANKGOFORAMERIPRISE-BOOK";
$header-height: 50px;

// Copied from modules\apps\web-experience\product-navigation\product-navigation-control-menu-theme-contributor\src\main\resources\META-INF\resources\control_menu\_variables.scss
$has-control-menu-margin-top-desktop: 64px;
$has-control-menu-margin-top-mobile: 48px;
$has-customization-menu-margin-top-desktop: 64px;
$has-customization-menu-margin-top-mobile: 48px;
/* **************** variables **************** */

/* **************** PAGE **************** */
body, html, [id^="senna_surface"], .flipped, .senna_surface1-default {
	height: 100%;
}

body {
	background-color: pink; // DEBUG
}

.quick-access-nav {
	// TODO: Test for accessibility (Tab to content)
}

.advisor-compass-override.has-control-menu {
	#banner, #navigationWrapper {
		top: $has-control-menu-margin-top-mobile;

		@include sm() {
			top: $has-control-menu-margin-top-desktop;
		}
	}

	&.has-customization-menu #banner, &.has-customization-menu #navigationWrapper {
		top: ($has-control-menu-margin-top-mobile + $has-customization-menu-margin-top-mobile);

		@include sm() {
			top: ($has-control-menu-margin-top-desktop + $has-customization-menu-margin-top-desktop);
		}
	}

	#wrapper {
		margin-top: 0;
		padding-top: ($header-height + $has-control-menu-margin-top-mobile);

		@include sm() {
			padding-top: ($header-height + $has-control-menu-margin-top-desktop);
		}
	}

	&.has-customization-menu #wrapper {
		margin-top: 0;
		padding-top: ($header-height + $has-control-menu-margin-top-mobile + $has-customization-menu-margin-top-mobile);

		@include sm() {
			padding-top: ($header-height + $has-control-menu-margin-top-desktop + $has-customization-menu-margin-top-desktop);
		}
	}
}

#wrapper {
	height: 100%;
	margin-top: 0;
	padding-top: $header-height;
}
/* **************** page **************** */

/* **************** HEADER/BANNER **************** */
#banner {
	background-color: $ameriprise-blue;
	color: #FFF;
	font-family: $ameriprise-font-family;
	font-size: 14pt;
	height: $header-height;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;

	@include media-query($ameriprise-screen-lg-min, null) {
		.container {
			display: table;
		}

		.row {
			display: table-cell;
		}
	}

	/* **************** LOGO **************** */
	.site-title {
		margin: 0;
	}

	.logo {
		background-repeat: no-repeat;
		background-position: left center;
		display: block;
		height: $header-height;

		@include media-query(null, $ameriprise-screen-xs-max) {
			background-image: url(../images/AdvisorCompass_smallLogo_200.png);
			width: 200px;
		}

		@include media-query($ameriprise-screen-sm-min, null) {
			margin: 0 10px;
			background-image: url(../images/LOGO.PNG);
			width: 272px;
		}
	}
	/* **************** logo **************** */

	/* **************** Right Icons **************** */


	.banner-contact-container {
		display: none;
		padding: 10px 0;

		@include media-query($ameriprise-screen-lg-min, null) {
			display: table-cell;
		}
	}

	.user-full-name-greeting {
		margin: 0 15px;
		text-transform: capitalize;
	}


	a {
		color: inherit;
		margin: 0 10px;
		text-transform: capitalize;

		&:hover, &:focus {
			color: #FFF;
			text-decoration: none;
		}
	}
}

/* **************** SEARCH **************** */
#searchCollapse {
	// width: 100%;
	background-color: #6284AB;
	// position: relative;
	clear: both;

	@include media-query($ameriprise-screen-lg-min, null) {
		display: inline;
	}
}

#search {
	// padding: 10px;
	// position: absolute;
	// top: $header-height;
	// left: 0;
	// width: 100%;
	// height: 60px;

	// Copied from .hide-accessible
	.portlet-title-text {
		clip: rect(0 0 0 0) !important;
		position: absolute !important;

		/*Webkit and IE7 let clipped content change the scroll height of the page*/
		/*Scale webkit to 0*/
		-webkit-transform: scale(0);
		-webkit-transform-origin-x: 0;
		-webkit-transform-origin-y: 0;
		/*Change IE7 to using fixed*/
		*position: fixed !important;
		/*...And reset back to absolute for IE6*/
		_position: absolute !important;
	}

	.form-group {
		// margin-bottom: 0;
	}

	.portlet-topper {
		// position: absolute;
	}

	@include media-query($ameriprise-screen-lg-min, null) {
		height: 50px;

		div, section {
			height: 100%;
		}

		.taglib-icon {
			display: none;
		}

		.portlet:hover>.portlet-topper, .portlet.focus>.portlet-topper {
			border-radius: 0;

			@include transform(translateY(97%));
		}

		.form-group {
			margin: 8px 0 10px 0;
			width: 100%;
		}

		input {
			border-radius: 0;

			@include placeholder {
				color: #000;
			}
		}
	}
}
/* **************** search **************** */

/* **************** HEADER BUTTONS **************** */
.header-button {
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0 solid transparent;
	color: #FFF;
	height: 50px;
	padding: 8px;
}

.header-button-label {
	display: block;
	font-family: $ameriprise-font-family;
	line-height: 1;
}

.header-button-search-open {
	@include media-query(null, $ameriprise-screen-sm-max) {
		background-image: url(../images/ac-icon-search.png);
	}
}

.header-button-navigation-open {
	@include media-query(null, $ameriprise-screen-sm-max) {
		background-image: url(../images/ac-icon-menu.png);
	}
}

.header-button-close {
	@include media-query(null, $ameriprise-screen-sm-max) {
		background-image: url(../images/ac-icon-close.png);
	}
}

.header-button-search-open,
.header-button-navigation-open,
.header-button-close {
	.header-button-label {
		margin-top: 26px;
		text-transform: uppercase;
	}
}

.header-button-search-open,
.header-button-navigation-open,
.header-button-close,
.header-button-back {

	@include media-query(null, $ameriprise-screen-sm-max) {
		font-size: 10px;
		width: 50px;
	}

	@include media-query($ameriprise-screen-lg-min, null) {
		display: none;
	}
}
/* **************** header buttons **************** */
/* **************** header/banner **************** */

/* **************** NAVIGATION **************** */
@include media-query(null, $ameriprise-screen-sm-max) {
	#navigationOverlay {
		background-color: rgba(255, 255, 255, 0.5);
		cursor: pointer;
		height: 0;
		left: 0;
		opacity: 0;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 100%;
		z-index: -1;

		@include transition(
			height 0.0s 0.3s,
			opacity 0.3s,
			visibility 0.3s
		);

		&.open {
			height:100%;
			opacity: 1;
			visibility: visible;

			@include transition(
				height 0.0s 0.0s,
				opacity 0.3s,
				visibility 0.3s
			);
		}
	}
}

#navigationWrapper{
	@include media-query(null, $ameriprise-screen-sm-max) {
		height: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		z-index: 1;

		&.open {
			height: 100%;
			visibility: visible;
		}
	}

	@include media-query($ameriprise-screen-lg-min, null) {
		background-color: #FFF;
	}

	@include media-query(null, $ameriprise-screen-sm-max) {
		.container, .row {
			height: 100%;
		}
	}

	.row {
		@include media-query(null, $ameriprise-screen-sm-max) {
			@include transition(margin 0.33s ease);
		}

		@include media-query(null, $ameriprise-screen-xs-max) {
			margin-left: 15%;
		}

		@include media-query($ameriprise-screen-sm-min, $ameriprise-screen-sm-max) {
			margin-left: 60%;
		}
	}
}

#navigationSmallControls {
	@include media-query(null, $ameriprise-screen-sm-max) {
		background-color: $ameriprise-blue;
		border-bottom: 1px solid #A2A4A9;

		&.row, & {
			height: $header-height;
		}
	}

	@include media-query($ameriprise-screen-lg-min, null) {
		display: none;
	}
}

#navigation {
	@include media-query(null, $ameriprise-screen-sm-max) {
		background-color: $ameriprise-blue;  // OFF DURRING DEBUG
		height: 100%;
		position: relative;
	}

	@include media-query($ameriprise-screen-lg-min, null) {
	}

	.tagline {
		@include media-query(null, $ameriprise-screen-sm-max) {
			display: none;
		}

		@include media-query($ameriprise-screen-lg-min, null) {
			color: #000;
			font-size: 18pt;
		}
	}

	.selected, .focused {
		background-color: #6284AB;

		@include media-query(null, $ameriprise-screen-sm-max) {
		}

		@include media-query($ameriprise-screen-lg-min, null) {
		}
	}

	.open {
		background-color: blue; // DEBUG

		@include media-query(null, $ameriprise-screen-sm-max) {
		}

		@include media-query($ameriprise-screen-lg-min, null) {
		}
	}

	.child-menu {
		// display: none;

		@include media-query(null, $ameriprise-screen-sm-max) {
		}

		@include media-query($ameriprise-screen-lg-min, null) {
		}
	}

	.open .child-menu {
		// display: block;
	}

	ul {
		list-style: none;
		padding: 0;

		@include media-query(null, $ameriprise-screen-sm-max) {
			height: 100%;
			overflow-y: auto;
			position: absolute;
			top: 0;
			width: 100%;
		}

		@include media-query($ameriprise-screen-lg-min, null) {
		}
	}

	/* **************** LVL N NAV **************** */
	.open {
		&.lvl1, &.lvl2, &.lvl3 {
			@include media-query(null, $ameriprise-screen-sm-max) {
				margin-left: 0;
			}
		}
	}

	.lvl1, .lvl2, .lvl3 {
		@include media-query(null, $ameriprise-screen-sm-max) {
			@include transition(margin-left 0.5s ease);

			margin-left: 90%; // DEBUG should be 100%
		}

		@include media-query($ameriprise-screen-lg-min, null) {
		}

		li {
			@include media-query(null, $ameriprise-screen-sm-max) {
				// background-color: #53626F; // OFF DURRING DEBUG
				border-bottom: 1px solid #A2A4A9;
			}

			@include media-query($ameriprise-screen-lg-min, null) {
			}
		}

		.glyphicon-chevron-right, .glyphicon-plus {
			@include media-query(null, $ameriprise-screen-sm-max) {
				position: absolute;
				right: 10px;
				top: 33%;
			}

			@include media-query($ameriprise-screen-lg-min, null) {
				display: none;
			}
		}
	}
	/* **************** lvl n nav **************** */

	/* **************** LVL 1 NAV **************** */
	.lvl1 {
		background-color: red; // DEBUG

		.menuitem-title {
			cursor: pointer;
			display: block;
			font-family: $ameriprise-font-family;
			text-decoration: none;

			@include media-query(null, $ameriprise-screen-sm-max) {
				color: #FFF;
				font-size: 14px;
				line-height: 1.3;
				min-height: 40px;
				padding: 14px 25px 8px 10px;
				position: relative;
				text-transform: uppercase;
			}

			@include media-query($ameriprise-screen-lg-min, null) {
			}
		}

		.nav-footer {
			@include media-query($ameriprise-screen-lg-min, null) {
				display: none;
			}
			h2 {
				background-color: #A2A4A9;
				color: #000;
				font-size: 10px;
				line-height: 20px;
				margin: 0;
				padding: 0 10px;
				text-transform: uppercase;
			}

			.menuitem-title {
				text-transform: none;
			}

			.glyphicon {
				padding-right: 5px;
			}
		}

		#layoutNavLogout {
			@include media-query($ameriprise-screen-lg-min, null) {
				display: none;
			}

			.menuitem-title {
				padding: 15px 20px;
			}

			button {
				color: #000;
			}
		}
	}
	/* **************** lvl 1 nav **************** */

	/* **************** LVL 2 NAV **************** */
	.lvl2 {
		background-color: orange; // DEBUG

		@include media-query(null, $ameriprise-screen-sm-max) {
		}

		@include media-query($ameriprise-screen-lg-min, null) {
		}
	}
	/* **************** lvl 2 nav **************** */

	/* **************** LVL 3 NAV **************** */
	.lvl3 {
		background-color: teal; // DEBUG

		@include media-query(null, $ameriprise-screen-sm-max) {
			// background-color: $ameriprise-blue;
			// height: 100%;
			// left: 0;
			// position: fixed;
			// top: 0;
			// width: 100%;
			// z-index: 1;
		}

		@include media-query($ameriprise-screen-lg-min, null) {
		}
	}
	/* **************** lvl 3 nav **************** */

	/* **************** LVL 4 NAV **************** */
	.lvl4 {
		background-color: purple; // DEBUG

		li {
			@include media-query(null, $ameriprise-screen-sm-max) {
				background-color: #A2A4A9; // TODO Check if correct
				border-bottom: 1px solid #53626F; // TODO Check if correct
			}

			@include media-query($ameriprise-screen-lg-min, null) {
			}
		}
	}
	/* **************** lvl 4 nav **************** */
}
/* **************** navigation **************** */

/* **************** CONTENT **************** */
#content {
}
/* **************** content **************** */
