/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* **************** IMPORTS **************** */
@import "fonts/fonts";
/* **************** imports **************** */

/* **************** VARIABLES **************** */
// For more look in:
// modules\apps\foundation\frontend-theme\frontend-theme-unstyled\src\main\resources\META-INF\resources\_unstyled\css\aui\lexicon\bootstrap\_variables.scss

// Media queries breakpoints. Define the breakpoints at which your layout will change, adapting to different screen sizes.
$screen-xs-min: 480px; // Extra small screen / phone
$screen-sm-min: 768px; // Small screen / tablet
$screen-md-min: 992px; // Medium screen / desktop
$screen-lg-min: 1200px; // Large screen / wide desktop

// Grid system. Define your custom responsive grid.
// $grid-columns: 12; // Number of columns in the grid.
// $grid-gutter-width: 30px; // Padding between columns. Gets divided in half for the left and right.
// $grid-float-breakpoint: $screen-sm-min; // Point at which the navbar becomes uncollapsed

// Container sizes. Define the maximum width of `.container` for different screen sizes.
$container-tablet: (720px + $grid-gutter-width); // Small screen / tablet
$container-desktop: (940px + $grid-gutter-width); // Medium screen / desktop
$container-large-desktop: (1140px + $grid-gutter-width); // Large screen / wide desktop

$ameriprise-blue: #003D6D;
$ameriprise-font-family: "ITCFRANKGOFORAMERIPRISE-BOOK";
$ameriprise-font-size: 14pt;
$header-height: 50px;

// Copied from modules\apps\web-experience\product-navigation\product-navigation-control-menu-theme-contributor\src\main\resources\META-INF\resources\control_menu\_variables.scss
$has-control-menu-margin-top-desktop: 64px;
$has-control-menu-margin-top-mobile: 48px;
$has-customization-menu-margin-top-desktop: 64px;
$has-customization-menu-margin-top-mobile: 48px;
/* **************** variables **************** */

/* **************** PAGE **************** */
body, html, [id^="senna_surface"], .flipped, .senna_surface1-default {
	height: 100%;
}

body {
	background-color: pink; // DEBUG
}

.quick-access-nav {
	// TODO: Test for accessibility (Tab to content)
}

.advisor-compass-override.has-control-menu {
	#banner, #navigationWrapper {
		top: $has-control-menu-margin-top-mobile;

		@include sm() {
			top: $has-control-menu-margin-top-desktop;
		}
	}

	&.has-customization-menu #banner, &.has-customization-menu #navigationWrapper {
		top: ($has-control-menu-margin-top-mobile + $has-customization-menu-margin-top-mobile);

		@include sm() {
			top: ($has-control-menu-margin-top-desktop + $has-customization-menu-margin-top-desktop);
		}
	}

	#wrapper {
		margin-top: ($header-height + $has-control-menu-margin-top-mobile);

		@include sm() {
			margin-top: ($header-height + $has-control-menu-margin-top-desktop);
		}
	}

	&.has-customization-menu #wrapper {
		margin-top: ($header-height + $has-control-menu-margin-top-mobile + $has-customization-menu-margin-top-mobile);

		@include sm() {
			margin-top: ($header-height + $has-control-menu-margin-top-desktop + $has-customization-menu-margin-top-desktop);
		}
	}
}

#wrapper {
	// background-color: gold; // DEBUG
	height: 100%;
	margin-top: $header-height;
}
/* **************** page **************** */

/* **************** HEADER/BANNER **************** */
#banner {
	background-color: $ameriprise-blue;
	color: #FFF;
	font-family: $ameriprise-font-family;
	font-size: $ameriprise-font-size;
	height: $header-height;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;

	@include media-query(null, $screen-xs-max) {
		// Implied
	}

	@include media-query($screen-sm-min, null) {
		// background-color: yellow; // DEBUG
	}

	@include media-query($screen-md-min, null) {
		// background-color: green; // DEBUG
	}

	@include media-query($screen-lg-min, null) {
		// background-color: blue; // DEBUG
	}

	/* **************** LOGO **************** */
	.site-title {
		margin: 0;
	}

	.logo {
		background-image: url(../images/AdvisorCompass_smallLogo_200.png);
		background-repeat: no-repeat;
		display: block;
		height: $header-height;
		width: 200px;
	}
	/* **************** logo **************** */
}



/* **************** SEARCH **************** */
#searchCollapse {
	// width: 100%;
	background-color: #6284AB;
	// position: relative;
	clear: both;
}

#search {
	// padding: 10px;
	// position: absolute;
	// top: $header-height;
	// left: 0;
	// width: 100%;
	// height: 60px;

	// Copied from .hide-accessible
	.portlet-title-text {
		clip: rect(0 0 0 0) !important;
		position: absolute !important;

		/*Webkit and IE7 let clipped content change the scroll height of the page*/
		/*Scale webkit to 0*/
		-webkit-transform: scale(0);
		-webkit-transform-origin-x: 0;
		-webkit-transform-origin-y: 0;
		/*Change IE7 to using fixed*/
		*position: fixed !important;
		/*...And reset back to absolute for IE6*/
		_position: absolute !important;
	}

	.form-group {
		// margin-bottom: 0;
	}

	.portlet-topper {
		// position: absolute;
	}
}
/* **************** search **************** */

/* **************** HEADER BUTTONS **************** */
.header-button {
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0 solid transparent;
	height: 50px;
	padding: 8px;
	width: 50px;
}

.header-button-label {
	color: #FFF;
	display: block;
	font-family: $ameriprise-font-family;
	font-size: 10px;
	line-height: 1;
	margin-top: 26px;
	text-transform: uppercase;
}

.header-button-search-open {
	background-image: url(../images/ac-icon-search.png);
}

.header-button-navigation-open {
	background-image: url(../images/ac-icon-menu.png);
}

.header-button-close {
	background-image: url(../images/ac-icon-close.png);
}
/* **************** header buttons **************** */
/* **************** header/banner **************** */

/* **************** NAVIGATION **************** */
#navigationOverlay {
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	height: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 1;


	@include transition(opacity 0.5s ease);

	&.opened {
		height:100%;
		opacity: 1;
		position: fixed;
		right: 0;
		top: 0;
		visibility: visible;
		z-index: 1;
	}
}

#navigationWrapper{
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;

	.container, .row {
		height: 100%;
	}

	.row {
		@include media-query(null, $screen-xs-max) {
			margin-left: 15%;
		}

		@include media-query($screen-sm-min, $screen-md-max) {
			margin-left: 50%;
		}
	}
}


#navigationSmallControls {
	background-color: $ameriprise-blue;
	// color: #FFF;
	// font-family: $ameriprise-font-family;
	// font-size: $ameriprise-font-size;

	&.row, & {
		height: $header-height;
	}
}

#navigation {
	background-color: red; // DEBUG

	.selected {
		background-color: red; // DEBUG
	}

	.open {
		background-color: blue; // DEBUG
	}

	.child-menu {
		display: none;
	}

	.open .child-menu {
		display: block;
	}

	ul {
		height: 100%;
		list-style: none;
		overflow-y: scroll;
		padding: 0;
	}

	li {
		background-color: gray; // DEBUG
		cursor: pointer;
	}

	.lvl1 {
		// width: 85%;
	}

	@include media-query(null, $screen-xs-max) {
		// Implied
	}

	@include media-query($screen-sm-min, null) {
	}

	@include media-query($screen-md-min, null) {
	}

	@include media-query($screen-lg-min, null) {
	}

	/* **************** HEADER NAV **************** */
	/* **************** header nav **************** */

	/* **************** LVL 1 NAV **************** */
	.lvl1 {

		@include media-query(null, $screen-xs-max) {
			// Implied
		}

		@include media-query($screen-sm-min, null) {
		}

		@include media-query($screen-md-min, null) {
		}

		@include media-query($screen-lg-min, null) {
		}
	}
	/* **************** lvl 1 nav **************** */

	/* **************** LVL 2 NAV **************** */
	.lvl2 {
		background-color: yellow; // DEBUG

		@include media-query(null, $screen-xs-max) {
			// Implied
		}

		@include media-query($screen-sm-min, null) {
		}

		@include media-query($screen-md-min, null) {
		}

		@include media-query($screen-lg-min, null) {
		}
	}
	/* **************** lvl 2 nav **************** */

	/* **************** LVL 3 NAV **************** */
	.lvl3 {
		background-color: teal; // DEBUG

		@include media-query(null, $screen-xs-max) {
			// Implied
		}

		@include media-query($screen-sm-min, null) {
		}

		@include media-query($screen-md-min, null) {
		}

		@include media-query($screen-lg-min, null) {
		}
	}
	/* **************** lvl 3 nav **************** */

	/* **************** LVL 4 NAV **************** */
	.lvl4 {
		background-color: silver; // DEBUG

		@include media-query(null, $screen-xs-max) {
			// Implied
		}

		@include media-query($screen-sm-min, null) {
		}

		@include media-query($screen-md-min, null) {
		}

		@include media-query($screen-lg-min, null) {
		}
	}
	/* **************** lvl 4 nav **************** */
}
/* **************** navigation **************** */

/* **************** CONTENT **************** */
#content {
}
/* **************** content **************** */
